<%- include('partials/header.ejs') %>
<div class="homeBody">
    <form action="/login<%= typeof redirect !== 'undefined' ? '?redirect=' + redirect + '&key=' + key : '' %>" method="post" class="loginFullForm">
        <h3 class="center">Log In</h3>
        <label for="email">Email</label>
        <input type="email" name="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>

        <% if (locals.errorMessage) { %>
            <p class="errorMessage center" ><%= errorMessage %></p>
        <% } %>
        
        <div class="center">
            <button class="center" type="submit">Submit</button>
        </div>
        <p class="loginToSignupText">Don't have an account? <a href="/signup<%= redirect ? '?redirect=' + redirect + '&key=' + key : '' %>">Sign up</a></p>

       
    </form>
</div>
<%- include('partials/footer.ejs') %>